.item {
    margin: 1rem 0;
}

.image {
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.content {
    text-align: center;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
    color: #800040;
    border: 1px solid #800040;
    margin: 0 1rem;
}

button:hover{
    background-color: #f8dce9;
}

