.card {
    width: 700px;
    /* height: 750px; */
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
    padding-bottom: 30px;
}

.card .content {
    background-color: #e4f2fd;
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}



